header img {
  width: 10rem;
  position: relative;
  top: -1rem;
  left: -1rem;
}

main div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

main section {
  width: 100%;
  height: 20rem;
  background: whitesmoke;
  border-radius: 1.25rem;
}

.sectionIntro {
  padding: 1rem;
  display: flex;
  justify-content: flex-start;
}


main button {
  font-size: 1rem;
  background: var(--accent-color);
  border: none;
  border-radius: 1.25rem;
  padding: 1rem 2rem;
  cursor: pointer;
}

main button:hover {
  filter: brightness(1.05);
}