/* ------------------------------ header */

header img {
  width: 10rem;
  position: relative;
  top: -1rem;
  left: -1rem;
}


/* ------------------------------ footer */

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 1rem;
}

/* ------------------------------ main */

main {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: repeat(2, 1fr);
  grid-gap: 3.5rem;
}

#transactionFeed {
  grid-column: 1/2;
  grid-row: 1/3;
}

#weeklyRoundUp {
  grid-column: 2/ 3;
  grid-row: 1/2;
}

#savingsGoal {
  grid-column: 2/ 3;
  grid-row: 2/3;
}

@media (max-width: 750px) {
  main {
    grid-template-columns: 1fr !important;
    grid-auto-rows: repeat(3, 1fr);
  }

  #transactionFeed {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  #weeklyRoundUp {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  #savingsGoal {
    grid-column: 1/2;
    grid-row: 3/4;
  }
}

main h2 {
  font-size: 1rem;
  font-weight: 800;
  margin-bottom: 1rem;
}

main .line {
  width: 100%;
  height: 0.1rem;
  background: var(--primary-color);
  margin-bottom: 1rem;
}

.sectionBody {
  width: 100%;
  display: flex;
}

ul {
  width: 100%;
  padding: .5rem;
  padding-right: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow: scroll;
}

ul li {
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-size: 1rem;
}

#weeklyRoundup .sectionBody {
  display: inline-block;
  flex-direction: column;
  height: 6.5rem;
  margin-bottom: 1rem;
  overflow-y: scroll;
}

#weeklyRoundup .sectionBody span:nth-child(2) {
  color: var(--positive-value);

}

#savingsGoal .sectionBody {
  height: 5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

#savingsGoal .sectionBody span {
  position: relative;
  bottom: -1rem;
}

.utility {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.utility span {
  padding-left: .25rem;
  font-size: 1.2rem;
  font-weight: 800;
}

#dashboard button {
  font-size: 1rem;
  font-weight: 800;
  background: var(--accent-color);
  border: none;
  border-radius: 1.25rem;
  padding: .5rem 1rem;
  cursor: pointer;
}

#dashboard button:hover {
  filter: brightness(1.05);
}

.savedAmount {
  font-size: 4.5rem !important;
}