* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

:root {
  --base-color: #fff;
  --subbase-color: #d5d5d5;
  --primary-color: #192851;
  --accent-color: #68d9cf;
  --brand-color: #613DCB;
}

body {
  background: var(--primary-color);
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
a,
li,
button,
div,
span {
  padding: 0;
  margin: 0;
  color: var(--primary-color);
  font-family: Universal Sans, sans-serif;
  font-weight: 400;
  line-height: 1.625rem;
}


#dashboard {
  background: var(--base-color);
  width: 45rem;
  min-height: 75vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 1.25rem;
}

@media (max-width: 750px) {
  #dashboard {
    width: 100%;
    margin: 0;
  }
}

ul {
  width: 100%;
  padding: .5rem;
  padding-right: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: scroll;
}

ul li {
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-size: 1rem;
}


::selection {
  color: white;
  background-color: var(--primary-color);
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border-radius: 2.5px;
}