* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --base-color: #fff;
  --primary-color: #192851;
  --accent-color: #68d9cf;
  --brand-color: #613DCB;
}

body {
  background: var(--primary-color);
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
a,
button {
  padding: 0;
  margin: 0;
  color: var(--primary-color);
  font-family: Universal Sans, sans-serif;
  font-weight: 400;
  line-height: 1.625rem;
}

h2 {
  font-size: 1.15rem;
  font-weight: 800;
  padding-left: .5rem;
  margin-bottom: .5rem;
}


main {
  background: var(--base-color);
  width: 45rem;
  height: 75vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 1.25rem;
}

@media (max-width: 750px) {
  main {
    width: 100%;
  }
}