/* ------------------------------ default setting */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

:root {
  --base-color: #fff;
  --subbase-color: #d5d5d5;
  --primary-color: #192851;
  --accent-color: #68d9cf;
  --brand-color: #613DCB;

  --positive-value: rgb(28, 120, 0);
  --negative-value: rgb(205, 0, 0);
}

body {
  background: var(--subbase-color);
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
a,
li,
button,
div,
span {

  color: var(--primary-color);
  font-family: Universal Sans, sans-serif;
  font-weight: 400;
  line-height: 1.625rem;
}


#dashboard {
  background: var(--base-color);
  width: 45rem;
  min-height: 65vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 1.25rem;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

@media (max-width: 750px) {
  #dashboard {
    width: 90vw;
    margin: 1.5rem;
  }
}

/* ------------------------------ utility setting */

::selection {
  color: white;
  background-color: var(--primary-color);
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border-radius: 2.5px;
}